<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testcase -->
      <package
            uri="http://inf.mit.bme.hu/testcase"
            class="testcase.TestcasePackage"
            genModel="model/testcase.genmodel"/>
   </extension>

</plugin>
